/* Custom overrides */

.archive__item {
  max-width: none !important;
  width: 100% !important;
}

.list__item {
  max-width: none !important;
  width: 100% !important;
}

@media (min-width: 57.8125em) {
  .list__item {
    padding-right: 0 !important;
  }
}
